
<body style="margin: 0;padding: 0;padding-bottom: 10px;background: #eaeaea;color: rgba(0, 0, 0, 0.8);font-family: sans-serif;">
    <header style="display:flex;padding: 10px;background: linear-gradient(to right,#0062e6,#33aeff);width:100%;box-sizing:border-box;border-bottom:1px solid rgba(0,0,0,0.08);align-items: center;">
          <h1 class="title" style="margin: 0;color: rgba(255, 255, 255, 1.0);font-size: 20px;font-weight: 200;margin-left: 15px;">API Heartbeat</h1>
    </header>