.endpoint-title {
  max-width: calc(100% - 376px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.endpoint-actions {
    max-width: 376px;
}

.top {
  height: 38px;
}

.load-more {
  text-align: center;;
}