<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <div class="top title-row">
            <h1 class="float-left">Heartbeats</h1>
            <div class="float-right">
              <button class="btn btn-success" data-toggle="modal" data-target="#addNewModal">Add New</button>
            </div>
          </div>
          <table class="table table-condensed table-striped">
            <tr>
              <th>Status</th>
              <th>URL</th>
              <th>Frequency</th>
              <th>Next Run</th>
              <th>Status Code</th>
              <th>Reponse Time</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let endpoint of appService?.endpoints">
              <td>
                <ng-container *ngIf="endpoint.isActive">
                    <span *ngIf="endpoint.status === 'error'" class="badge badge-danger">Error</span>
                    <span *ngIf="endpoint.status === 'warning'" class="badge badge-warning">Warning</span>
                    <span *ngIf="endpoint.status === 'ok'" class="badge badge-success">Ok</span>
                    <span *ngIf="endpoint.status === 'na'" class="badge badge-default">Pending Check</span>
                </ng-container>
                <ng-container *ngIf="!endpoint.isActive">
                  <span class="badge badge-danger">Deactivated</span>
                </ng-container>
              </td>
              <td>
                <div class="endpoint-url-container">
                  <a [href]="endpoint.url" target="_new">{{endpoint.url}}</a>
                </div>
              </td>
              <td>
                every {{endpoint.frequency}} {{endpoint.interval}}
              </td>
              <td>
                <ng-container *ngIf="isInPast(endpoint.nextHeartbeatDate)">
                  Processing
                </ng-container>
                <ng-container *ngIf="!isInPast(endpoint.nextHeartbeatDate)">
                  {{endpoint.nextHeartbeatDate | date:'short'}}
                </ng-container>
              </td>
              <td>{{endpoint.statusCode}}</td>
              <td>&lt;{{endpoint.responseTime}} ms</td>
              <td>
                <button class="btn btn-primary" (click)="view(endpoint)">View</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewModal">Add New Heartbeat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>URL</label>
        <input type="text" class="form-control mb-2" placeholder="URL" [(ngModel)]="newEndpoint.url" />
        <label>Status Code</label>
        <input type="number" class="form-control mb-2" placeholder="Status Code" [(ngModel)]="newEndpoint.statusCode" />
        <label>Response Time (ms)</label>
        <input type="number" class="form-control mb-2" placeholder="Response Time (ms)"
          [(ngModel)]="newEndpoint.responseTime" />
        <label>Frequency</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Every</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="newEndpoint.frequency">
          <select class="form-control" [(ngModel)]="newEndpoint.interval">
            <option value="minutes">Minutes</option>
            <option value="hours">Hours</option>
            <option value="days">Days</option>
            <option value="weeks">Weeks</option>
            <option value="months">Months</option>
          </select>
        </div>
        <label>Time To Wait Between Notifications</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Every</span>
          </div>
          <input type="number" class="form-control" [(ngModel)]="newEndpoint.timeToWaitBetweenNotificationsFrequency">
          <select class="form-control" [(ngModel)]="newEndpoint.timeToWaitBetweenNotificationsInterval">
            <option value="minutes">Minutes</option>
            <option value="hours">Hours</option>
            <option value="days">Days</option>
            <option value="weeks">Weeks</option>
            <option value="months">Months</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveEndpoint()">Save changes</button>
      </div>
    </div>
  </div>
</div>