<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <div class="top title-row">
            <h1 class="float-left">Heartbeats</h1>
            <div class="float-right">
              <button class="btn btn-success" data-toggle="modal" data-target="#addEditModal">Add New</button>
            </div>
          </div>
          <table class="table table-condensed table-striped">
            <tr>
              <th>Status</th>
              <th>URL</th>
              <th>Frequency</th>
              <th>Next Run</th>
              <th>Status Code</th>
              <th>Reponse Time</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let endpoint of appService?.endpoints">
              <td>
                <ng-container *ngIf="endpoint.isActive">
                    <span *ngIf="endpoint.status === 'error'" class="badge badge-danger">Error</span>
                    <span *ngIf="endpoint.status === 'warning'" class="badge badge-warning">Warning</span>
                    <span *ngIf="endpoint.status === 'ok'" class="badge badge-success">Ok</span>
                    <span *ngIf="endpoint.status === 'na'" class="badge badge-default">Pending Check</span>
                </ng-container>
                <ng-container *ngIf="!endpoint.isActive">
                  <span class="badge badge-danger">Deactivated</span>
                </ng-container>
              </td>
              <td>
                <div class="endpoint-url-container">
                  <a [href]="endpoint.url" target="_blank">{{endpoint.url}}</a>
                </div>
              </td>
              <td>
                every {{endpoint.frequency}} {{endpoint.interval}}
              </td>
              <td>
                <ng-container *ngIf="isInPast(endpoint.nextHeartbeatDate)">
                  Processing
                </ng-container>
                <ng-container *ngIf="!isInPast(endpoint.nextHeartbeatDate)">
                  {{endpoint.nextHeartbeatDate | date:'short'}}
                </ng-container>
              </td>
              <td>{{endpoint.statusCode}}</td>
              <td>&lt;{{endpoint.responseTime}} ms</td>
              <td>
                <button class="btn btn-primary" (click)="view(endpoint)">View</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-edit-endpoint [isAddNew]="true"></app-add-edit-endpoint>